/* Variables */
:root {
	--textColor: #FFFFFF;
	--bgColor: #000;
	--overlayColor: rgba(0, 0, 0, 0);
	--scrollbarColor: rgba(255, 255, 255, 0.25);

	--mainFont: 'Montserrat';
	--accentFont: 'Marck Script';

	--zoomLevel: 100%;

	--showIcons: inline;
	--showLabels: -webkit-box;

	--columnWidth: 8rem;
}
@media (prefers-color-scheme: light) {
	:root {
		--bgColor: #FFF;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #000;
	}
}



/* Fonts */
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/montserrat.ttf') format('truetype');
	font-display: block;
}
@font-face {
	font-family: 'Marck Script';
	src: url('/assets/marckScript.ttf') format('truetype');
	font-display: block;
}



/* Scale */
html {
	font-size: var(--zoomLevel);
}



/* Fonts */
.fontMain, h1, h2, h3, h4, h5, h6, button {
	font-family: var(--mainFont);
	font-weight: normal;
}
.fontAccent {
	font-family: var(--accentFont);
	font-weight: normal;
	margin-bottom: 0.125em;
}



/* Fixes */
body {
	user-select: none;
}
body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a, button {
	outline: none;
}
a {
	text-decoration: none;
}
button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
button > * {
	pointer-events: none;
}
.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1s;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.hidden {
	display: none;
}



/* Body */
body {
	color: var(--textColor);
	background-color: var(--bgColor);
	overflow-y: hidden;
}
.background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.overlay {
	width: 100%;
	height: 100vh;
	background-color: var(--overlayColor);
}



/* Text */
.center {
	text-align: center;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.5rem;
}



/* Time & Date */
#timeAndDate {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -33%);
}
#time {
	letter-spacing: 0.05em;
}
#time span:not(:first-child):not(#amPM)::before {
	content: ':';
}
#amPM::before {
	content: ' '
}
#day + #month::before {
	content: ' ';
}
#month::after {
	content: ' ';
}
#day + #year::before {
	content: ', ';
}



/* Favorites */
#favoritesContainer {
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
#favoritesContainer.visible {
	opacity: 100%;
}
#favorites {
	width: max-content;
	height: 86px; /* 86px * rows + 16px * (rows - 1) */
	padding: 1rem;
	overflow-y: auto;
}
@media (min-height: 650px) {
	#favorites {
		height: 188px;
	}
}
@media (min-height: 900px) {
	#favorites {
		height: 290px;
	}
}
@media (min-height: 1150px) {
	#favorites {
		height: 392px;
	}
}
@media (min-height: 1400px) {
	#favorites {
		height: 494px;
	}
}
#favorites .row {
	display: flex;
}
#favorites .row:not(:last-child) {
	margin-bottom: 1rem;
}
#favorites.left .row {
	justify-content: left;
}
#favorites.center .row {
	justify-content: center;
}
#favorites.right .row {
	justify-content: right;
}
.favorite {
	display: inline-block;
	text-align: center;
	width: var(--columnWidth);
}
.favorite:not(:last-child) {
	margin-right: 1rem;
}
.favorite a, .favorite button {
	display: inline-block;
}
.favorite a, .favorite button, #settings, #edit {
	max-width: 100%;
}
.favorite a, .favorite button, #back, #settings, #edit {
	transition: all 0.125s;
}
.favorite a:hover, .favorite button:hover, .favorite a:focus, .favorite button:focus, #settings:hover, #settings:focus, #edit:hover, #edit:focus {
	transform: scale(1.1, 1.1);
}
.favorite >:first-child {
	opacity: var(--dimBookmarks);
}
.favorite >:focus, .favorite >:hover {
	opacity: 100%;
}
.favorite a:active, .favorite button:active {
	transform: scale(1.2, 1.2);
}
#back:hover, #back:focus {
	transform: scale(1.25, 1.25);
}
#back:active {
	transform: scale(1.5, 1.5);
}
.favorite svg {
	display: var(--showIcons);
}
.favorite svg, #settings svg, #edit svg {
	width: 2rem;
	height: auto;
}
.favorite.folder svg, .favorite.blank svg #back, #settings svg, #edit svg {
	opacity: 0.85;
}
svg {
	fill: var(--textColor);
}
.favorite p {
	color: var(--textColor);
	font-size: 1rem;
	margin-top: 0.5em;

	height: 2.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: var(--showLabels);
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#back {
	position: absolute;
	top: 1.25rem;
	left: -1.25rem;
	display: none;
}
#back.visible {
	display: inherit;
}
#back svg {
	width: 1.5rem;
}
#currentFolder {
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);

	width: 50vw;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
#settings {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}
#edit {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
}



/* Scrollbar */
::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbarColor);
	opacity: 0.25;
	border-radius: 0.125rem;
}
