/* Variables */
:root {
	/* Colors */
	--text:    #323232;
	--textDim: #7F7F7F;
	--bg:      #FFFFFF;

	--color:    #FF6C6C;
	--colorDim: #FFB3B3;

	--option:       rgba(0, 0, 0, 3%);
	--optionHover:  rgba(127, 127, 127, 15%);
	--optionActive: rgba(127, 127, 127, 25%);

	--input:       #FFFFFF;
	--inputHover:  #F7F7F7;
	--inputActive: #F0F0F0;



	/* Sizes */
	--rem:    18px;
	--code:   0.75rem;
	--margin: 1rem;

	--inputWidth:  6.5rem;
	--inputHeight: 1.5rem;

	--border: 0.25rem;

	--circle: 0.75rem;

	--range:             5rem;
	--number:            1.875rem;
	--numberUnit:        0.75rem;
	--numberUnitPadding: 0.375rem;



	/* Transitions */
	--transition: 0.25s;
}
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		/* Colors */
		--text: #EEEEEE;
		--bg:   #16161A;

		--colorDim: #803636;

		--option:       #0f0f12;
		--optionHover:  #1C1C21;
		--optionActive: #232329;

		--input:       #1E1F21;
		--inputHover:  #2A2B2E;
		--inputActive: #35373B;
	}
}



/* Fonts */
@font-face {
	font-family: raleway;
	src: url('/assets/raleway.ttf') format('truetype');
	font-display: block;
}
@font-face {
	font-family: sourceCodePro;
	src: url('/assets/sourceCodePro.ttf') format('truetype');
	font-display: block;
}



/* Fixes */
* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	user-select: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
input, textarea, button {
	background: none;
	border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}



/* General */
.hidden, .option.hidden {
	display: none;
}
.flex {
	display: flex;
}
html {
	font-size: var(--rem);
	display: flex;
	justify-content: center;
}
body {
	color: var(--text);
	background-color: var(--bg);
	font-family: raleway, sans-serif;
	font-size: inherit;
	margin: var(--margin);
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}
::selection {
	color: inherit;
	background-color: var(--colorDim);
}



/* Header */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: max-content;
}
header img {
	width: var(--margin);
	margin-right: calc(var(--margin) * 0.5);
}



/* Options */
.option {
	cursor: pointer;
	display: flex;
	white-space: nowrap;
	align-items: center;
	justify-content: space-between;
	min-height: calc(var(--rem) * 2);
	padding-left: var(--margin);
	padding-right: var(--margin);
	background-color: var(--option);
	transition: background-color var(--transition);
}
.option:hover, .option:focus-visible, .option:has(:focus-visible) {
	background-color: var(--optionHover);
}
.option:focus-visible, .option:has(:focus-visible) {
	box-shadow: inset var(--border) 0 0 var(--color);
}
.option:active {
	background-color: var(--optionActive);
}
.option:first-child {
	margin-top: var(--margin);
}
p.option {
	cursor: default;
}
p.option:hover, p.option:active {
	background-color: var(--option);
}
.defaultCursor {
	cursor: default;
}
.rows {
	flex-direction: column;
	align-items: start;
	padding-top: calc(var(--margin) * 0.5);
	padding-bottom: var(--margin);
}
.rows >:first-child {
	margin-top: calc(var(--margin) * 0.5);
}



/* Input */
input, textarea, button {
	color: var(--text);
	font-family: raleway;
	font-size: inherit;
}
.invalid {
	color: var(--color);
}



/* Color */
input[type='color'] {
	width: var(--circle);
	height: var(--circle);
	cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
}



/* File */
input[type='file'] {
	width: var(--inputWidth);
	height: var(--inputHeight);
	padding-left: var(--margin);
	padding-right: var(--margin);
	pointer-events: none;
	color: transparent;
	background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
}
input[type='file']::-webkit-file-upload-button {
	display: none;
}



/* Text Input */
input[type='text'] {
	width: var(--inputWidth);
	height: var(--inputHeight);
	padding-left: var(--margin);
	padding-right: var(--margin);
	background-color: var(--input);
}



/* Checkbox */
input[type='checkbox'], input[type='checkbox']::before {
	display: block;
	pointer-events: none;
}
input[type='checkbox'] {
	appearance: none;
	width: calc(var(--circle) * 1.5);
	height: calc(var(--circle) * 0.75);
	border-radius: var(--circle);
	background-color: var(--optionActive);
	margin-left: var(--circle);
}
input[type='checkbox']::before {
	content: '';
	width: var(--circle);
	height: var(--circle);
	border-radius: 50%;
	background-color: var(--colorDim);
	margin-top: calc(var(--circle) * -0.125);
	margin-left: calc(var(--circle) * -0.25);
	transition: transform var(--transition);
}
input[type='checkbox']:checked {
	background-color: var(--colorDim);
}
input[type='checkbox']:checked::before {
	background-color: var(--color);
	transform: translateX(var(--circle));
}



/* Range */
input[type='range'] {
	appearance: none;
	width: var(--range);
	height: calc(var(--rem) * 2);
	display: block;
	background-color: transparent;
	cursor: pointer;
	margin: 0 var(--margin);
}
input[type='range']::-webkit-slider-thumb {
	appearance: none;
	width: var(--circle);
	height: var(--circle);
	border-radius: var(--circle);
	background-color: var(--color);
	margin-top: calc(var(--circle) * -0.125);
}
input[type='range']::-webkit-slider-runnable-track {
	cursor: pointer;
	height: calc(var(--circle) * 0.75);
	border-radius: var(--circle);
	background-color: var(--optionActive);
}



/* Range Numbers */
.rangeNumberAndUnit {
	width: calc(var(--number) + var(--numberUnit));
}
.rangeNumber {
	width: var(--number);
	text-align: right;
	background-color: transparent;
}
.rangeNumberUnit {
	padding-left: calc(var(--numberUnit) * 0.5);
	width: var(--numberUnit);
	color: var(--textDim);
}
.rangeNumberUnit sup {
	padding-top: var(--numberUnitPadding);
}
.rangeNumberUnit small {
	align-self: center;
}



/* Textarea */
textarea {
	background-color: var(--input);
	font-family: sourceCodePro;
	font-size: var(--code);
	width: calc(100% - var(--margin) * 2);
	resize: none;
	padding: calc(var(--margin) * 0.75) var(--margin);
}



/* Select */
select {
	display: none;
}
.select, option {
	display: flex;
	align-items: center;
	width: var(--inputWidth);
	height: var(--inputHeight);
	padding-left: var(--margin);
	padding-right: var(--margin);
	background-color: var(--input);
}
.select {
	position: relative;
	cursor: pointer;
	box-sizing: content-box;
}
.select::selection {
	background-color: transparent;
}
.options {
	position: absolute;
	z-index: 1;
}
.select::after {
	content: '<';
	position: absolute;
	right: calc(var(--margin) * 1.25);
	transform: rotate(-90deg);
}
.select.hiddenOptions::after {
	content: '>';
}
.hiddenOptions + .options option {
	display: none;
}
option:hover, .select:hover, option.selected {
	background-color: var(--inputHover);
}
option:active, .select:active {
	background-color: var(--inputActive);
}
option.selected {
	box-shadow: inset var(--border) 0 0 var(--color);
}
